---
layout: default
---
<h1>{{ page.nom }} ({{ page.accronyme }})</h1>

{% assign condition = "item.enseignants contains '" | append: page.accronyme | append: "'"%}
{% assign AAs = site.data.AA | where_exp: "item", condition %}
{% if AAs.size > 0 %}

<h3>Cours donnés :</h3>
<ul>
{% for AA in AAs %}
  {% assign: label = AA.accronyme | append: ' - ' | append: AA.libelle %}
  {% assign: accronyme = AA.accronyme %}
  <li>{%include aaLink.html accronyme=accronyme label=label %}</li>
{% endfor %}
</ul>
{%endif%}