<footer id="footer">
<div class="container">
<section>
<article class="col-1">
<h3>Contact</h3>
<ul>
        <li class="mail"><a href="mailto:esi@he2b.be">esi@he2b.be</a></li>
<li class="phone"><a href="#">+32 (0)2 219 15 46</a></li>
<li class="address last "><a href="#">67 rue Royale<br>1000 Bruxelles</a></li>
</ul>

<p><a href="http://www.he2b.be" target="_blank">
  <img src="{{site.baseurl}}/images/HE2B-Logo-DEF-neg-small.png"/></a></p>
</article>
<article class="col-1">
<h3>&nbsp;</h3>
    <ul>
    <li class="map"><a href="https://www.openstreetmap.org/#map=19/50.84959/4.36455" target="_new">
<img src="{{site.baseurl}}/images/plan.gif" /></a></li>
</ul>
    </article>
<article class="col-3">
<h3>Social</h3>
<p>Retrouvez-nous sur les r&eacute;seaux sociaux</p>
<ul>
<li class="facebook"><a href="https://facebook.com/esibru" target="_blank">Facebook</a></li>
<li class="twitter"><a href="https://twitter.com/esihe2b" target="_blank">Twitter</a></li>
</ul>
</article>
</section>
<p class="copy">
  <a href="http://creativecommons.org/licenses/by-nc-sa/4.0" target="_new"><img src="{{site.baseurl}}/images/cc-by-nc-sa.png" /></a>
  <br>
  <br>
  Copyright 2017 &Eacute;cole Sup&eacute;rieure d'Informatique.
  <br>
  Template offert par <a href="http://www.themezy.com/demos/58-free-responsive-template-for-schools">themezy</a>.
  </p>
</div>
</footer>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script>window.jQuery || document.write("<script src='{{site.baseurl}}/js/jquery-1.11.1.min.js'>\\x3C/script>")</script>
<script src="{{site.baseurl}}/js/plugins.js"></script>
<script src="{{site.baseurl}}/js/main.js"></script>
