<header id="header">
<div class="container">
  <a id="logo" href="{{site.baseurl}}{% link index.md %}" title="Ecole Sup&eacute;rieure d'Informatique"></a>
<div class="menu-trigger"></div>
<nav id="menu">
<ul>
<li><a>Se former</a>
<ul class="submenu">
<li><a href="present_fr.htm">Pr&eacute;sentation</a></li>
<li><a href="{{site.baseurl}}{% link dynamicPages/grids.md %}">Sections</a></li>
<li><a href="elearning_fr.htm">elearning</a></li>
<li><a href="erasmus_fr.htm">Erasmus</a></li>
<li><a href="stages_fr.htm">Stages</a></li>
<li><a href="special_fr.htm">Sp&eacute;cialisations</a></li>
<li><a href="personnel_fr.htm">Personnel</a></li>
</ul>
</li>
<li><a>S'informer</a>
<ul class="submenu">
<li><a href="inscription_fr.htm">Inscriptions</a></li>
<li><a href="infogen_fr.htm">Informations g&eacute;n&eacute;rales</a></li>
<li><a href="services_fr.htm">Services</a></li>
<li><a href="soutien_fr.htm">Soutien</a></li>
</ul>
</li>
<li><a>La recherche</a>
<ul class="submenu">
<li><a href="rechfond_fr.htm">La recherche fondamentale et appliqu&eacute;e</a></li>
<li><a href="rechtierce_fr.htm">La recherche tierce</a></li>
<li><a href="rechcont_fr.htm">La recherche continu&eacute;e</a></li>
<li><a href="echanges_fr.htm">Echanges internationaux d'enseignants</a></li>
</ul>
</li>
<li><a>Autour</a>
<ul class="submenu">
<li><a href="infosoc_fr.htm">Infosoc</a></li>
<li><a href="veille_fr.htm">Veille technologique</a></li>
<li><a href="{{site.baseurl}}{% link staticPages/printempsDesSciences.md %}">Printemps des sciences</a></li>
<li><a href="brujug_fr.htm">Brujug</a></li>
<li><a href="beoi_fr.htm">Olympiade Belge d'Informatique</a></li>
</ul>
</li>
<li><a>Apr&egrave;s</a>
<ul class="submenu">
<li><a href="emploi_fr.htm">Offres d'emploi</a></li>
<li><a href="jobs_fr.htm">Jobs &eacute;tudiants</a></li>
<li><a href="midi_fr.htm">Midis de l'informaticien</a></li>
<li><a href="amiesi_fr.htm">Amiesi (anciens)</a></li>
</ul>
</li>
<li><a><i class="fa fa-flag-o"></i></a>
<ul class="submenu">
<li><a href = "index_fr.htm">Fran&ccedil;ais</a></li>
<li><a href = "index_en.htm">English</a></li>
</ul>
</li>
</ul>
</nav>
<!-- / navigation-->
</div>
<!-- / container-->
</header>
<!-- / header-->
<div class="divider"></div>
